body {
    font-family: sans-serif;
    background-color:white;
  }

  .blackjack-table {
    width: 600px;
    /* height: 800px; */
    margin: 0 auto;
    position: relative;
 
   
  }
  .container{
      background-image: url(./IMG-20231124-WA0002.jpg);
      border: 2px solid greenyellow;
      border-radius: 20px;
      box-shadow: inset 0 0 100px black;
  }

  .blackjack-table .you-hand {
    float: left;
    width: 300px;
    padding: 10px;
    width: 180px;
    height: 400px;
    position:relative;
  }
  .blackjack-table .you-hand h1{
      text-align: center;
      color: white;
  }
  .blackjack-table .dealer-hand {
    float: right;
    width: 300px;
    padding: 10px;
    width: 180px;
    height: 400px;
    position:relative;
  }
  .blackjack-table .dealer-hand h1{
      text-align: center;
      color: white; 
      margin-left: 0px;
  }

  .blackjack-table .buttons {
    clear: both;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 10%;
    background-color: transparent;
    backdrop-filter: blur(30px);

  }

  .blackjack-table .button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    margin-left: 6px;
    background-color: transparent;
    border-radius: 5px;
  }
  p{
      align-items: center;
      font-family: cursive;
      margin-left: 43%;
      color:black;
  }
  .blackjack-table .cards{
      width: 180px;
      height: 280px;
      /* border: 1px solid black; */
      margin-left: 15px;
      background-color: transparent;
      backdrop-filter: blur(130px);
      box-shadow: inset 0 0 30px yellow;
      border-radius:5px ;
  }
  .blackjack-table .cards2{
      width: 170px;
      height: 280px;
      /* border: 1px solid black; */
      margin-right: 15px;
      background-color: transparent;
      backdrop-filter: blur(130px);
      box-shadow: inset 0 0 30px yellow;
      border-radius:5px ;
  }
  .blackjack-table h1{
      align-items: center;
      font-family: cursive;
      margin-left: 35%; 
  }
  .records{
      display: flex;
      justify-content:space-evenly;
      align-items: center;
      list-style-type: none;
      text-decoration: none;
      margin: 10px;
      font-family: cursive;
      font-weight: bolder;

  }
  .blackjack-table .button2 {
    
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    margin-left: 6px;
    background-color: transparent;
    border-radius: 5px;
    padding-left: 80%;
  }
  /* .how{
    width: 500px;
    height: 520px;
     
  } */
.enter{   
    width: fit-content;
    height: 20px;
    cursor: pointer;
   position: absolute; 
  }
.header{
  justify-content: center;
  
  padding-left: 200px;
}
.header2{
  justify-content: center;
 
  padding-left: 200px;
}
  .close-btn{
    background-color: blue;
    height: 15px;
    width: 50%;
    padding-left: 120px;
    cursor: pointer;
  }
  #how{
    justify-content: center;
    align-items: center;
   width: 500px;
   height: 610px; 
   background-color: grey;
    position: absolute;
    top: 90%;
  right: 20%;
    transform: translate(50%, -90%);
    transition: .5s ease-in-out;
  }
  #on-click:checked~ .how{
    opacity: 1;
    visibility: visible;
  }